*{
    box-sizing: border-box;
}

body{
    font-size: 15px;
    line-height: 1.5;
    margin:0;
    padding: 0;
}
@keyframes anim {
    0%{
        left: -300px;
        opacity: 0;
    }
    100%{
        left: 0;
        opacity: 1;
    }
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
.clearfix::before{
    content: "";
    display: table;
    clear: both;
}
nav{
    display: none;
    overflow:auto;
    width: 30%;
    height: 100%;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    animation-name: anim;
    animation-duration:0.4s ;
    background-color: #fff;
}

nav a{
    color: #000;
    width: 100%;
    display: block;
    padding: 24px 16px;
    text-decoration: none;
    font-size: 24px;
}
nav a:hover{
    background-color: lightgray;
}

.top-nav{
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
.nav-wrp{
    max-width: 1200px;
    margin: auto;
    background-color: #fff;
    overflow: hidden;
    font-size: 24px;
}
.nav-wrp>.nv-btn{
    user-select: none;
    float: left;
    display: inline-block;
    padding: 16px;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}
.nv-btn:hover{
    color: red;
}
.mail{
    float: right;
    padding-top:16px;
    padding-bottom: 16px;

}
.my-food{   
    text-align: center;
    padding-bottom: 16px;
    padding-top: 16px;
}
/* .top-nav-wraper{
    padding: 16px;
    background-color: lightgray;
    color: #000;
    font-size: 24px;
}
.top-nav-item{
    display: inline-block;
    overflow: hidden;
    float: left !important;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: inherit;
    background-color: blue;
    padding: 10px;
    text-align: center;
     */

.center{
    text-align: center !important;

}
.right{
    text-align: right;
}
.left{
    text-align: left;
}
.container{
    width: 85%;
    margin: auto;
    padding: 10px;

}
.row{
    width: 100%;
}
.row-card{
    float: left;
    padding: 16px;
}
.row-card img{
    width: 100%;
    height: auto;
}
.cart-info-container{
    text-align: center;
}
.cart-info-container h3{
    font-size: 24px;
    margin: 10px 0px;
}
.pad-32{

    padding-top: 32px;
    padding-bottom: 32px;
}
.pagination{
    text-align: center;
    padding: 10px;
}
.pagination a{
    padding: 8px 12px;
    text-decoration: none;

}
.pagination a:hover:not(.active){
    background-color: #f1f1f1;
}
.pagination>a.active{
    background-color: black;
    color: #fff;
}
.hr{
    color: #ccc;
    opacity: 0.4;
    width: 95%;
    margin: auto;
}
.about{
    text-align: center;
}
.about img{
    width: 100%;
    height: auto;
    padding: 35px;
    vertical-align: center;
}
.center{
    text-align: center;
}
.footer{
    float: left;
    padding: 8px;
}
.blog-post{
    float: left;
    padding:8px !important;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.blog-post>ul>li{
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.blog-post>ul>li:hover{
    background-color: #f1f1f1;
    cursor: pointer;
}
.blog-post>ul>li img{
    margin-right: 16px;
    width: 50px;
    float: left;
    border-style: none;
}
.x-large{
    font-size: 18px;
}

.p-tag{
    float: left;
    padding: 8px;
}
.span-container{
    overflow: hidden;
    width: 100%;
    padding: 4px;
}
.span-container>.active{
    margin-bottom: 16px;
    background-color: black;
    color: #ffff;
    padding-right: 8px;
    padding-left: 8px;
    text-align: center;
    padding: 8px;

}
.span-container>.span-item{
    text-align: center;
    display: inline-block;
    margin-bottom: 16px;
    background-color: #f1f1f1;
    padding-left: 8px;
    padding-right: 8px;
}

footer{
    padding: 22px;
}

/* Mobile device */
[class*="col-"]{
    width: 100%;
}
@media screen and (max-width:600px) {
 
}
/* Tablet  */
@media only screen and (min-width:668px){
 .col-s-1{width: 8.33%;}
 .col-s-2{width: 16.66%;}
 .col-s-3{width: 25%;}
 .col-s-4{width: 33.33%;}
 .col-s-5{width: 41.65%;}
 .col-s-6{width: 50%;}
 .col-s-7{width: 58.31%;}
 .col-s-8{width: 66.64%;}
 .col-s-9{width: 75%;}
 .col-s-10{width: 83.33%;}
 .col-s-11{width: 91.66%;}
 .col-s-12{width: 100%;}
}
/* For desktop */
@media only screen and (min-width:992px) {
 .col-lg-1{width: 8.33%;}
 .col-lg-2{width: 16.66%;}
 .col-lg-3{width: 25%;}
 .col-lg-4{width: 33.33%;}
 .col-lg-5{width: 41.65%;}
 .col-lg-6{width: 50%;}
 .col-lg-7{width: 58.31%;}
 .col-lg-8{width: 66.64%;}
 .col-lg-9{width: 75%;}
 .col-lg-10{width: 83.33%;}
 .col-lg-11{width: 91.66%;}
 .col-lg-12{width: 100%;}
}